.form-screen {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.success-image-background {
    background-image: url('https://source.unsplash.com/LLcAJbEh1_Q/800x600');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

.form-title {
    margin: .5em 0 0 0;
    font-size: 3rem;
    font-family: 'Cabin Sketch', cursive;
    text-align: center;
}

.add-item-form {
    width: 300px;
    height: max-content;
    margin: 2.5em auto;
    align-items: center;
    border: 2px solid var(--dark-button-color);
    background-color: var(--light-button-color);
    border-radius: 1em;
    overflow-y: scroll;
}

.form-section-title {
    font-family: var(--title-font);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    margin: .5em;
}

.form-text { 
    font-family: var(--main-text-font);
    font-size: 1.2rem;
    text-align: center;
    margin: .5em;
    letter-spacing: .05rem;
    line-height: 1.5;
}

.id-box {
    height: 4rem;
}

.id-text {
    margin: 0;
    font-size: 2rem;
    text-align: center;
    padding: .5rem;
}
.form-submit-button {
    background-color: var(--dark-button-color);
    font-size: 1.7rem;
    padding: .5em;
    width: 10rem;
    border-radius: .3em;
    border: none;
    color: white;
    font-weight: bold;
    margin: .8em;
}

.form-button {
    background-color: var(--dark-button-color);
    font-size: 1.2rem;
    padding: .5em 1em;
    border-radius: .3em;
    border: none;
    color: white;
    font-weight: bold;
    margin: .5em;
}

.input-box {
    background-color: white;
    box-sizing: border-box;
    border: 1 px solid transparent;
    width: 200px;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(255, 149, 11, 0.3);
    font-size: 12px;
    outline: none;
    text-overflow: ellipses;
    padding: 2px 10px;

}

.form-section {
    display: flex;
    flex-direction: column;
    width: 75%;
    align-items: center;
    margin: 1em auto
}

.description-box {
    height: 70px;
}

.form-btns-container {
    display: flex;
}

@media(min-width: 768px) {
    .add-item-form {
        width: 500px;
    }
    .form-title {
        font-size: 4rem;
    }
    .form-section-title {
        font-size: 2.5rem;
    }
    .input-box {
        font-size: 2rem;
        width: 90%;
    }
    .form-button {
        font-size: 2rem;
    }
    .description-box {
        height: 100px;
    }
    .form-text {
        font-size: 1.5rem;
    }
}