.main-title {
    /* font-family: 'Amaranth', sans-serif; */
    font-family: 'Cabin Sketch', cursive;
    font-size: 4.8em;
}

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://source.unsplash.com/Wmuu76rFl0Y/800x600');
    /* background-image: url('https://source.unsplash.com/LLcAJbEh1_Q/800x600'); */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-box-container {
    margin: 1.5em;
}

.home-search-box {
    height: 2.5em;
}

.search-button {
    padding: 0.5em 0.7em;
    /* margin: 1em; */
    border-radius: 0.5em;
    font-size: 1.4em;
    background-color: var(--dark-button-color);
    border: none;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    padding: 1em 2em;
    margin: 1em;
    border-radius: 0.5em;
    background-color: var(--light-button-color);
    font-size: 1.4em;
    font-weight: bold;
    border: none;
}

@media(min-width: 768px) {
    .home-screen {
        background-image: url('https://source.unsplash.com/Wmuu76rFl0Y/1200x1000');
    }
}

@media(min-width: 1200px) {
    .home-screen {
        background-image: url('https://source.unsplash.com/Wmuu76rFl0Y/1400x600');
    }
}