.main-title {
    /* font-family: 'Amaranth', sans-serif; */
    font-family: var(--title-font);
    font-size: 4.8em;
}

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://source.unsplash.com/Wmuu76rFl0Y/800x600');
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* background-position: top; */
    /* background-image: url('https://source.unsplash.com/LLcAJbEh1_Q/800x600'); */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-box-container {
    margin: 1.5em;
}

.home-search-box {
    height: 2.5em;
}

.search-button {
    padding: 0.5em 0.7em;
    /* margin: 1em; */
    border-radius: 0.5em;
    font-size: 1.4em;
    background-color: var(--dark-button-color);
    border: none;
    cursor: pointer;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-button {
    padding: 1.5em 1.2em;
    margin: 1em;
    border-radius: 0.5em;
    background-color: var(--light-button-color);
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    cursor: pointer;
}

.nav-button:hover {
    background-color: var(--dark-button-color);
    color: white;
}

@media(min-width: 768px) {
    .main-title {
        font-size: 6em;
    }

    .search-container {
        margin-bottom: 1em;
    }

    .home-search-box {
        height: 3em;
    }

    .search-button {
        font-size: 1.6em;
        padding: 0.7em 1em;
    }

    .nav-button {
        padding: 1.5em;
        font-size: 1.5em;
    }
}

@media(min-width: 1200px) {

}