.main-title {
    font-family: var(--title-font);
    font-size: 4.8em;
}

.home-screen {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://source.unsplash.com/Wmuu76rFl0Y/1000x600');
    background-size: cover;
    /* background-position: top; */
    /* background-image: url('https://source.unsplash.com/2M_sDJ_agvs/1000x800'); */
}

.search-container {
    display: flex;
    align-items: center;
}

.search-box-container {
    margin: 1.5em;
}

.home-search-box {
    height: 2.5em;
}

.search-button {
    padding: 0.5em 0.7em;
    border-radius: 0.5em;
    font-size: 1.4em;
    background-color: var(--dark-button-color);
    border: none;
    cursor: pointer;
}

.navigation-btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0.5em;
}

.navigation-button {
    padding: 1.5em 1.2em;
    margin: 1em;
    border-radius: 0.7em;
    background-color: var(--light-button-color);
    /* background-color: rgba(157, 252, 220, 0.863); */
    font-size: 1.4em;
    font-weight: bold;
    border: none;
    cursor: pointer;
    /* box-shadow: 0 0.2rem 0.6rem rgba(11, 133, 123, 0.4); */
    box-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.3);
}

.navigation-button:hover {
    background-color: var(--dark-button-color);
    color: white;
}

@media(min-width: 768px) {
    .main-title {
        font-size: 6em;
    }

    .search-container {
        margin-bottom: 1em;
    }

    .home-search-box {
        height: 3em;
    }

    .search-button {
        font-size: 1.6em;
        padding: 0.7em 1em;
    }

    .navigation-button {
        padding: 1.5em;
        font-size: 1.5em;
    }
}