.map-container {
    width: 85%;
    height: 300px;
    margin: auto;
}

.search-input-container {
    display: flex;
    justify-content: space-evenly;
    margin: 1rem;
}

.search-box {
    box-sizing: border-box;
    width: 20rem;
    border: 1px solid transparent;
    border-radius: 3px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    font-size: 12px;
    outline: none;
    text-overflow: ellipses;
    padding: 2px 10px;
}

@media(min-width: 768px) {
    .search-box {
        width: 33rem;
        font-size: 1.4rem;
    }
}

@media(min-width: 1200px) {
    .search-box {
        width: 45rem;
    }
}